--extra-index-url https://download.pytorch.org/whl/cu118
babel
charset-normalizer
config
datasets
docopt
flask-markdown
frozen-flask
gdown
gensim
gevent
humanize
matplotlib
nltk
pandas
pip-chill
python-version
sacremoses
sentence-transformers==2.2.2
scikit-learn
soundfile
tensorflow-estimator
tensorflow==2.14.0
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
transformers==4.36.2
tokenizers==0.15.0
tqdm
loguru
alive-progress