--extra-index-url https://download.pytorch.org/whl/cu118
art
babel
charset-normalizer
config
docopt
flask-markdown
frozen-flask
gensim
gevent
humanize
matplotlib
nltk
pandas
pip-chill
python-version
sacremoses
scikit-learn
soundfile
tensorflow-estimator
tensorflow
torchaudio==2.0.1
torchtext
torchvision==0.15.1+cu118
tqdm
transformers
