Sphinx
sphinx_rtd_theme
sphinx_copybutton
rinohtype
six
linuxdoc
art
babel
charset-normalizer
config
datasets
docopt
flask-markdown
frozen-flask
gensim
gevent
humanize
matplotlib
nltk
pandas
pip-chill
python-version
sacremoses
sentence-transformers
scikit-learn
soundfile
torchaudio
torchtext
torchvision
tqdm
transformers
tensorflow-estimator
tensorflow==2.10